<%= form_for(@trust) do |f| %>
  <% if @trust.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trust.errors.count, "error") %> prohibited this trust from being saved:</h2>

      <ul>
      <% @trust.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
