<p id="notice"><%= notice %></p>

<h1>Listing Trusts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trusts.each do |trust| %>
      <tr>
        <td><%= trust.name %></td>
        <td><%= trust.summary %></td>
        <td><%= trust.location %></td>
        <td><%= link_to 'Show', trust %></td>
        <td><%= link_to 'Edit', edit_trust_path(trust) %></td>
        <td><%= link_to 'Destroy', trust, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trust', new_trust_path %>
